main {
  width: 800px;
  height: 550px;
  display: flex;
  justify-content: space-between;
}
.plateau {
  width: 500px;
  height: 500px;
  border: 15px ridge #a42929;
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
  grid-template-areas:
    "a10 b10 c10 d10 e10 f10 g10 h10 i10 j10"
    "a9 b9 c9 d9 e9 f9 g9 h9 i9 j9"
    "a8 b8 c8 d8 e8 f8 g8 h8 i8 j8"
    "a7 b7 c7 d7 e7 f7 g7 h7 i7 j7"
    "a6 b6 c6 d6 e6 f6 g6 h6 i6 j6"
    "a5 b5 c5 d5 e5 f5 g5 h5 i5 j5"
    "a4 b4 c4 d4 e4 f4 g4 h4 i4 j4"
    "a3 b3 c3 d3 e3 f3 g3 h3 i3 j3"
    "a2 b2 c2 d2 e2 f2 g2 h2 i2 j2"
    "a1 b1 c1 d1 e1 f1 g1 h1 i1 j1";
}
.blanc {
  background-color: #f5deb3;
}
.noir {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #202020;
}
.pion_blanc {
  width: 40px;
  height: 40px;
  background-color: white;
  /* border: 1px solid black; */
  border-radius: 50%;
}
.pion_noir {
  width: 40px;
  height: 40px;
  background-color: black;
  /* border: 1px solid white; */
  border-radius: 50%;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.row {
  width: 500px;
  display: flex;
  margin-left: 15px;
}
.index {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  font-size: 1.5rem;
  font-family: "Times New Roman", Times, serif;
}
#index_number {
  width: 25px;
  height: 480px;
  margin-top: 15px;
}
#index_letter {
  width: 500px;
  height: 25px;
  margin-top: 15px;
}
.buttons {
  width: 200px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
button {
  font-size: 2em;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}
.button_new_game {
  width: 200px;
  height: 200px;
  background-color: #fffa9c;
  border: 15px ridge #a42929;
}
.button_new_game:hover {
  background-color: #fffa55;
}
.tour_joueur {
  width: 200px;
  height: 200px;
  background-color: #ffffff;
  border: 15px ridge #a42929;
}
